* {
    margin: 0;
    --unlink_color: black;
    --table_bg: rgb(255, 228, 232);
    --light_darkening: rgba(0, 0, 0, 0.2);
    --heavy_darkening: rgba(0, 0, 0, 0.5);
    --nav_bg: rgb(153, 0, 173);
    --foot_bg: rgb(48, 48, 48);
}